@font-face {
   font-family: 'Kate-Medium';
   font-display: swap;
   src: url('file:///C:/Users/Aline/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-15_162906/fonts/Kate-Medium/font.ttf');
}
